<div class="control-group">
  <label class="control-label">Name</label>
  <div class="controls">
    <%= t.text_field :name %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Öffnungszeiten</label>
  <div class="controls">
    <%= t.text_field :business_hours %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">E-Mail (optional)</label>
  <div class="controls">
    <%= t.email_field :email %>
  </div>
</div>
