<h1><%= t("views.change_password") %></h1>

<% @user.errors.full_messages.each do |msg| %>
<div class="alert alert-error"><%= msg %></div>
<% end %>

<%= form_for @user, html: {:class => 'form-horizontal'} do |t| %>

  <div class="control-group">
    <label class="control-label">Passwort:</label>
    <div class="controls">
      <%= password_field :user, :password, :class => 'patternlock' %>
    </div>
  </div>

  <p class="form-actions">
    <input type="submit" class="btn btn-primary" value="Speichern">
  </p>

  <div id="pattern-container">
  </div>
<% end %>

<script>
$('input[type=password]').closest(".control-group").css('display', 'none');
$(".form-actions").css('display', 'none');

lockPattern('#pattern-container');
</script>
