<h1><%= t("views.change_passwort") %></h1>

<% @user.errors.full_messages.each do |msg| %>
<div class="alert alert-error"><%= msg %></div>
<% end %>

<%= form_for @user, html: {:class => 'form-horizontal'} do |t| %>

<p>
<%= password_field :user, :password, :class => 'patternlock' %>
</p>


<% end %>
