<table class="table table-striped table-bordered">
  <thead>
    <th><%= t("views.name") %></th>
    <th>Letztes Login</th>
    <th><%= t("views.last_activity") %></th>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.display_name, user_path(user) %></td>
      <td><%= @activities[user.account.account_id] ? localize(@activities[user.account.account_id], format: "%d. %B %Y %H:%M") : t("views.never") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
