
<div class="row-fluid">
  <% @users.each do |user| %>
  <div class="tile">
    <%= link_to (not current_user.blank? and current_user.user_id == user.user_id) ? user_path(user) : touch_login_path(id: user.user_id) do %>
    <%= image_tag user.avatar.blank? ? 'avatar.png' : user.avatar.url(:medium) %><br>
    <%= user.display_name %>
  <% end %>
  </div>
  <% end %>
</div>
