<div class="well sidebar-nav">
  <%= render 'admin/admin_subnav' %>

  <ul class="nav nav-list">
    <li class="nav-header"><%= t("views.product_management") %></li>
    <li<% if action_name == "new" %> class="active"<% end %>><%= link_to new_admin_product_path do %><%= t("views.create_product") %><% end %></li>
  </ul>
</div>
