<h1>Bearbeiten: <%= @product.name %></h1>

<%= form_for @product, url: admin_product_path(@product), html: {:class => 'form-horizontal'} do |t| %>

<%= render 'form', t: t %>

<div class="form-actions">
  <input type="submit" value="Speichern" class="btn btn-primary">
  <a href="<%= admin_product_url(@product) %>" class="btn">Abbrechen</a>
</div>

<% end %>
