<h1>Neuer Benutzer</h1>

<%= form_for @user, :url => admin_users_path(), :html => {:class => 'form-horizontal'} do |t| %>
<%= render 'form', t: t %>

<div class="form-actions">
  <input type="submit" class="btn btn-primary" value="Speichern"> <a href="<%= admin_users_path() %>" class="btn">Abbrechen</a>
</div>

<% end %>
